// 导入主题变量
@import '@douyinfe/semi-theme-default/scss/variables.scss';

// 导出图标相关变量（别名）
$width-icon_extra_small: $width-icon-extra-small; // 图标尺寸 - 超小
$width-icon_small: $width-icon-small; // 图标尺寸 - 小
$width-icon_medium: $width-icon-medium; // 图标尺寸 - 中
$width-icon_large: $width-icon-large; // 图标尺寸 - 大
$width-icon_extra_large: $width-icon-extra-large; // 图标尺寸 - 超大
$motion-icon_spin-animationDuration: .6s;